<% include ./partials/header %>
<div>
    EDIT <%= student.name%> 
</div>
<form action="/students/<%= student._id %>?_method=PUT" method="POST">
    <input type="text" name="student[name]" value = "<%= student.name %>"
    <input type="number" name="student[id]" value = "<%= student.id %>"
    <input type="number" step=0.01 name="student[cpi]" max="10" value = "<%= student.cpi%>"
    <br>
    <input type="radio" name="student[branch]" placeholder="Branch" value="IT">IT<br>
    <input type="radio" name="student[branch]" placeholder="Branch" value="CSE">CSE<br>
    <input type="radio" name="student[branch]" placeholder="Branch" value="EXTC">EXTC<br>
    <input type="radio" name="student[branch]" placeholder="Branch" value="MECH">MECH<br>
    <input type="submit">

</form>
<% include ./partials/footer %>
